<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" (click)="resetPage()">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sandbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mg-pg">
  <!--Puntuaciones-->
  <div class="container mg-1rem">
    <ion-text class="title-style">Rating</ion-text>
    <div>
      <ion-button color="success" (click)="addPositivePuntuation()">
        <ion-icon name="thumbs-up-sharp" class="white-color"></ion-icon>
        <p class="white-color">{{positivePuntuation}}</p>
      </ion-button>

      <ion-button color="danger" (click)="addBadPuntuation()">
        <ion-icon name="thumbs-down-sharp"></ion-icon>
        <p class="white-color">{{badPuntuation}}</p>
      </ion-button>
    </div>

    <div id="media-score">
      <p>{{averageScore}}/10</p>
    </div>
  </div>
  <!--// Puntuaciones-->

  <!--Título y Descripción-->
  <div class="mg-1rem">
    <ion-text class="title-style">Expandable content</ion-text>

    <div>
      <ion-card>
        <ion-button color="primary" size="small" (click)="showInformationToggle()">
          <ion-icon *ngIf="!displayedInfo" name="add-outline"></ion-icon>
          <ion-icon *ngIf="displayedInfo" name="remove-outline"></ion-icon>
          <p>Title</p>
        </ion-button>
        <div>
          <ion-text *ngIf="displayedInfo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </ion-text>
        </div>
      </ion-card>
    </div>
  </div>
  <!--// Título y Descripción-->

  <!--Formulario del usuario-->
  <div class="mg-1rem">
    <ion-grid>
      <ion-row>
        <ion-text class="title-style">User form</ion-text>
      </ion-row>
      <form>
        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Name
            </ion-col>
            <ion-col  size="7">
              <ion-input class="" maxlength="30"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Birthdate
            </ion-col>
            <ion-col  size="7">
              <ion-datetime displayFormat="DD/MM/YYYY" min="1930-01-01" max="2010-01-01"></ion-datetime>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Sex
            </ion-col>
            <ion-col  size="7">
              <ion-select multiple="false">
                <ion-select-option *ngFor="let sex of sexList" value="{{sex}}">{{sex}}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Phone
            </ion-col>
            <ion-col  size="7">
              <ion-input type="number"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>

        <ion-row>
          <ion-item color="light" class="wfa">
            <ion-col size="5">
              Email
            </ion-col>
            <ion-col  size="7">
              <ion-input class="" maxlength="30"></ion-input>
            </ion-col>
          </ion-item>
        </ion-row>
      </form>
    </ion-grid>
  </div>
  <!--// Formulario del usuario-->
</ion-content>

<!--Footer-->
<ion-footer class="ion-no-border bar bar-footer">
  <div class="ion-text-center">
    <ion-button color="primary" (click)="resetPage()">RESET SCORE</ion-button>
  </div>
</ion-footer>
