<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container ion-text-center">
  <ion-button color="primary"
    expand="block"
    fill="outline"
    class="mg-btn"
    routerLink="/rating-page">
      Time to Score!
</ion-button>
  </div>
</ion-content>
